
.about-myself {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 25% 5%;
  gap: 24px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #fff;
  border-top-right-radius: 80px;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  width: 100%;
  height: auto;
}

.social-text {
  width: 100%;
  height: auto;
}

.social-text h3 {
  width: 100%;
  height: auto;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  padding-bottom: 5%;
}

.social-text p {
  width: 100%;
  height: auto;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.socials-media {
  display: flex;
  margin: 10px 0;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 16px;
  width: 50%;
  height: auto;
}

.supporting-text p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.normal-button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 162px;
  height: 48px;
  border: 1px solid gray;
  border-radius: 8px;
}

.normal-button p {
  width: 138px;
  height: 24px;
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
}

.normal-button:enabled {
  border-color: #6070ff;
}

.normal-button:hover {
  background-color: #6070ff;
  color: #fff;
}

.normal-button:active {
  background-color: #2230d2;
  color: #fff;
}

.skill-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 60%;
  height: fit-content;
  list-style: none;
}

.skill-list-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  width: 327px;
  height: 320.15px;
}

.skill-list-2 {
  width: 327px;
  height: 72px;
  border-bottom: 1px solid #dfe1e6;
}

.skill-list-names {
  width: 327px;
  height: 72px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  padding-left: 12px;
}

.skill-list-1 .skill-list-names {
  border-bottom: 1px solid #fff;
}

.skill-list-names h4 {
  width: 237px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.skill-list-names button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  box-sizing: border-box;
}

.arrow-container {
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
  background: #fff;
}

.arrow-container svg {
  background: #fff;
}

.languages-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  gap: 12px;
  width: 303px;
  height: 248.15px;
  list-style: none;
  box-sizing: border-box;
}

.languages-list li {
  display: flex;
  align-items: center;
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  gap: 16px;
}

.languages-list li h5 {
  height: 24px;
  width: 215px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
}

.languages-list li img {
  height: 48px;
  width: 48px;
  border: 1px solid #f7f7f9;
}

.socials-icons-2 {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding-inline-start: 15px;
  gap: 10px;
}

.socials-icons-2 li a {
  align-items: center;
  width: 40px;
  height: 40px;
}

.socials-icons-2 li a img {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 560px) {
  .social-text h3 {
    width: 10%;
  }
}
