
.about-myself {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  gap: 50px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #fff;
  border-top-right-radius: 80px;
}

.top {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 12px;
  width: 100%;
}

.social-text {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-heading{
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  padding-bottom: 5%;
}

.social-text p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.socials-media {
  display: flex;
  margin: 10px 0;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 16px;
  width: 50%;
}

.supporting-text p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.normal-button {
  box-sizing: border-box;
  display: flex;
  text-decoration: none;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  height: 48px;
  border: 1px solid gray;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
}

.normal-button:enabled {
  border-color: #6070ff;
}

.normal-button:hover {
  background-color: #6070ff;
  color: #fff;
}

.normal-button:active {
  background-color: #2230d2;
  color: #fff;
}

.skill-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
  list-style: none;
  text-align: center;
}

.skill-list  h3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 24px;
  color: #172b4d;
}

.languages-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 12px 0;
  gap: 12px;
  flex-wrap: wrap;
}

.languages-list li {
  display: flex;
  align-items: center;
  background: #f7f7f9;
  border-radius: 8px;
  padding: 12px;
  gap: 16px;
}

.languages-list li h4 {
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
}

.languages-list li img {
  height: 48px;
  width: 48px;
  border: 1px solid #f7f7f9;
  object-fit: contain;
}

.socials-icons-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding-inline-start: 0;
  gap: 10px;
}

.socials-icons-2 li a {
  align-items: center;
  width: 40px;
  height: 40px;
}

.socials-icons-2 li a img {
  width: 24px;
  height: 24px;
}

