
.contact-section {
  width: 100%;
  height: 100%;
  background-color: #6070ff;
  display: flex;
  flex-direction: column;
  background-image: url(images/mobile-bg-2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 10% 10%;
  box-sizing: border-box;
  border-top-left-radius: 80px;
}

.contact-header {
  display: flex;
  flex-direction: column;
  width: 327px;
  padding-top: 103px;
  gap: 12px;
  align-self: center;
}

.contact-header h2 {
  font-family: "Poppins", sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 40px;
  color: #fff;
  width: 327px;
  height: 56px;
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 50px;
  box-sizing: border-box;
}

.contact-header p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #ebebff;
  width: 327px;
  height: 102px;
  align-self: center;
  text-align: center;
}

.contact-form {
  width: 327px;
  margin-top: 87px;
  align-self: center;
}

.contact-form-list {
  display: flex;
  list-style: none;
  flex-direction: column;
  gap: 18px;
  padding-inline-start: 0;
  height: fit-content;
}

.input-type-a {
  width: 327px;
  height: 48px;
}

.input-type-b {
  width: 327px;
  height: 170px;
}

#name {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #172b4d;
  width: 327px;
  height: 48px;
  border-radius: 8px;
  border-color: white;
  margin-bottom: 20px;
  padding-left: 10px;
}

#mail {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #172b4d;
  width: 327px;
  height: 48px;
  border-radius: 8px;
  border-color: white;
  margin-bottom: 18px;
  padding-left: 10px;
}

#message {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #172b4d;
  width: 327px;
  height: 170px;
  border-radius: 8px;
  border-color: white;
  margin-bottom: 22px;
  resize: none;
  outline: none;
  padding-left: 10px;
  padding-top: 10px;
}

#button {
  width: 142px;
  height: 48px;
  border-radius: 8px;
  border-color: white;
  color: #6070ff;
  font-family: "Poppins", sans-serif;
  font-style: medium;
  font-weight: 400;
  font-size: 17px;
  margin-bottom: 45px;
  align-items: center;
  border: 1px solid #6070ff;
}

#button:enabled {
  border-color: #6070ff;
}

#button:hover {
  background-color: #6070ff;
  border-color: #fff;
  color: #fff;
}

#button:active {
  background-color: #2230d2;
  color: #fff;
}
