* {
  margin: 0;
  border: 0;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

button {
  background-color: #fff;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 375px;
  height: 100vh;
  background-color: #fff;
  border-bottom-left-radius: 80px;
  background-image: url("./images/mobile-bg-1.png");
  background-repeat: no-repeat;
  background-size: 100% 80%;
  background-position: 0 80%;
  z-index: 0;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  left: 0;
  right: 0;
  top: 44px;
  height: 48px;
  width: 100%;
  border-radius: 0;
}

.nav-bar-frame {
  visibility: hidden;
}

.nav-bar {
  position: relative;
  right: 4%;
}

.socials-icons li a {
  align-items: center;
  width: 20px;
  height: 20px;
}

.socials-icons li a img {
  width: 20px;
  height: 20px;
}

#header-btn1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  position: relative;
  width: 60px;
  height: 60px;
  left: 0;
  top: calc(50% - 40px / 2);
}

#header-btn1 a {
  width: 60px;
  height: 60px;
}

#header-btn1 a img {
  display: flex;
  align-items: center;
  text-align: center;
  width: 60px;
  height: 60px;
  object-fit: contain;
}

#header-btn2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  position: absolute;
  width: 30px;
  height: 30px;
  right: 24px;
  top: calc(50% - 40px / 2);
  border-radius: 8px;
  border: none;
}

#header-btn2 nav {
  width: 30px;
  height: 30px;
}

#header-btn2 nav img {
  width: 30px;
  height: 30px;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12% 4%;
  gap: 12px;
  position: absolute;
  width: 92%;
  height: fit-content;
  top: 20%;
}

.headline-text {
  width: 92%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 4%;
  gap: 20px;
}

.main-text1 {
  width: 100%;
  height: auto;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 52px;
  color: #172b4d;
}

.main-text2 {
  width: 100%;
  height: auto;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.socials-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 16px;
  width: 50%;
  height: fit-content;
}

.socials-text .supporting-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 50%;
  height: fit-content;
}

.socials-text .supporting-text p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  width: 50%;
  height: fit-content;
}

.socials-icons {
  width: 60%;
  height: fit-content;
  display: flex;
  align-items: center;
  padding-left: 4%;
}

.socials-icons ul {
  width: 40%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding-inline-start: 0;
}

@media screen and (max-width: 575px) {
  #header-btn1 {
    padding: 8px 10px;
    width: 40px;
    height: 40px;
  }

  #header-btn1 a {
    width: 40px;
    height: 40px;
  }

  #header-btn1 a img {
    width: 40px;
    height: 40px;
  }

  #header-btn2 {
    padding: 6px;
    width: 20px;
    height: 20px;
  }

  #header-btn2 nav {
    width: 20px;
    height: 20px;
  }

  #header-btn2 nav img {
    width: 20px;
    height: 20px;
  }

  .headline {
    padding: 8% 4%;
    gap: 12px;
    top: 30%;
  }

  .socials-icons {
    width: 60%;
  }

  .socials-icons ul {
    width: 50%;
  }
}

@media screen and (max-width: 475px) {
  .socials-icons {
    width: 65%;
  }

  .socials-icons ul {
    width: 55%;
  }
}
