* {
  margin: 0;
  border: 0;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

button {
  background-color: #fff;
}

#header-top {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 375px;
  height: 100vh;
  background-color: #fff;
  border-bottom-left-radius: 80px;
  background-image: url("./images/mobile-bg-1.png");
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  background-position: 0 90%;
  box-sizing: border-box;
  z-index: 0;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6%;
  box-sizing: border-box;
  height: 10vh;
  width: 100%;
}

#header-btn1 img {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.nav-bar {
  display: none;
}

#header-btn2 {
  display: flex;
  padding: 8px;
  border: none;
  background: transparent;
}

#header-btn2 img {
  width: 30px;
  height: 30px;
}

.headline {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  height: 90vh;
  margin-top: 50px;
}

.headline-text {
  width: 92%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 4%;
  gap: 20px;
}

.main-text1 {
  width: 100%;
  height: auto;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 52px;
  color: #172b4d;
}

.main-text2 {
  width: 100%;
  height: auto;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.socials-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 16px;
  width: 50%;
  height: auto;
}

.socials-text .supporting-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 50%;
  height: auto;
}

.socials-text .supporting-text p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  width: 50%;
  height: auto;
}

.socials-icons {
  width: 60%;
  display: flex;
  align-items: center;
}


.socials-icons ul {
  width: 40%;
  height: 40px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding-inline-start: 0;
}

.socials-icons ul li:hover {
  scale: 2;
}

.socials-icons li a {
  align-items: center;
  width: 20px;
  height: 20px;
}

.socials-icons li a img {
  width: 20px;
  height: 20px;
}
