#menu {
    visibility: hidden;
    background: #6070FF;
    mix-blend-mode: multiply;
    width: 100%;
    height: 756px;
    min-width: 375px;
    max-width: 768px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;  
}

#close-menu {
    width: 50px;
    height: 50px;
}

.menu-links {
    display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 8px;
        width: 85%;
        height: auto;
}

