#see-project {
    background-image: url(./images/mobile-bg-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-width: 375px;
    height: 100vh;
    position: fixed;
    padding: 15% 5%;
    z-index: 999;
    box-sizing: border-box;
    overflow: scroll;
  }
  
  .project-card {
    width: 80%;
    box-sizing: border-box;
    padding: 5% 5%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    margin: auto;
  }
  
  .project-card-head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5%;
  }
  
  .project-card-head h1 {
    width: fit-content;
    height: auto;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 2rem;
    color: #172b4d;
  }
  
  #project-close {
    width: 25px;
    height: 25px;
    padding: 5px;
    align-items: center;
  }
  
  .project-card img {
    padding-bottom: 5%;
    width: 100%;
    height: 80%;
  }
  
  #project-close img {
    width: 15px;
    height: 15px;
  }
  
  .project-card-bot {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  
  .project-card-bot p {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
    padding-bottom: 5%;
  }
  
  .project-card-bot-right {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  
  .project-technologies {
    width: 100%;
    display: flex;
    padding-inline-start: 0;
    list-style: none;
    padding-bottom: 10%;
    gap: 12px;
    border-bottom: 1px solid #ebecf0;
  }
  
  .project-technologies li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px;
    width: auto;
    height: 24px;
    background: #ebebff;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #6070ff;
  }
  
  .project-buttons {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    width: 100%;
    padding: 10px 5px;
  }
  
  #project-button1 {
    box-sizing: border-box;
    border: 1px solid #6070ff;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 14px;
    gap: 5px;
    width: 146px;
    height: 48px;
    text-decoration: none;
  }
  
  #project-button1 p {
    width: 58px;
    height: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #6070ff;
    padding: 0;
  }
  
  #project-button2 p {
    width: 84px;
    height: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0;
    color: #6070ff;
  }
  
  #project-button2 {
    box-sizing: border-box;
    border: 1px solid #6070ff;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 14px;
    gap: 5px;
    width: 146px;
    height: 48px;
    text-decoration: none;
  }
  
  #project-button1 img {
    width: 18px;
    height: 18px;
    padding: 0;
  }
  
  #project-button2 img {
    width: 18px;
    height: 20px;
    padding: 0;
  }
  
  @media screen and (min-width: 768px) {
    #see-project {
      background-image: url(./images/desktop-bg.png) no-repeat;
      background-size: cover;
      width: 70%;
      padding: 0;
      height: 100%;
      align-self: center;
    }
  
    .project-card {
      width: 80%;
      height: 100%;
      padding: 5%;
      margin: auto;
    }
  
    .project-card-bot {
      flex-direction: row;
      gap: 50px;
    }
  
    .project-card-bot p {
      width: 50%;
    }
  
    .project-card-bot-right {
      width: 50%;
    }
  
    .project-buttons {
      padding: 10px 0;
    }
  }